*~
*.diff
*.log
*.o
*.orig
*.patch
*.pot
*.rec
*.rej
run/utils/SIPdump
run/utils/calc_stat
run/xyz2john/dmg2john
run/utils/genmkvpwd
run/xyz2john/gpg2john
run/xyz2john/hccap2john
run/john
run/john.local.conf
run/xyz2john/keepass2john
run/xyz2john/keychain2john
run/xyz2john/keyring2john
run/xyz2john/keystore2john
run/xyz2john/kwallet2john
run/utils/mkvcalcproba
run/xyz2john/mozilla2john
run/xyz2john/office2john
run/kernels/
run/xyz2john/pfx2john
run/xyz2john/putty2john
run/xyz2john/pwsafe2john
run/xyz2john/racf2john
run/xyz2john/rar2john
run/xyz2john/raw2dyna
run/xyz2john/ssh2john
run/utils/tgtsnarf
run/to_dyna
run/xyz2john/truecrypt_volume2john
run/xyz2john/uaf2john
run/utils/unafs
run/utils/undrop
run/utils/unique
run/utils/unshadow
run/xyz2john/vncpcap2john
run/xyz2john/wpapcap2john
run/xyz2john/zip2john
src/arch.h
src/fmt_externs.h
src/fmt_registers.h
src/generic.h
src/john_build_rule.h
src/para-bench
test/
