*.o
*.log
*.pot
*.rec
/run/calc_stat
/run/genmkvpwd
/run/john
/run/mkvcalcproba
/run/pdf2john
/run/rar2john
/run/ssh2john
/run/tgtsnarf
/run/unafs
/run/undrop
/run/unique
/run/unshadow
/run/zip2john
/src/arch.h
/src/fmt_externs.h
/src/fmt_registers.h
/src/john_build_rule.h
