*.o
*.log
*.pot
*.rec
*~
*.patch
*.diff
*.rej
*.orig
run/*.cl
run/calc_stat
run/genmkvpwd
run/hccap2john
run/john
run/john.local.conf
run/keepass2john
run/keychain2john
run/mkvcalcproba
run/mozilla2john
run/office2john
run/opencl_bf_std.h
run/opencl_cryptsha512.h
run/opencl_rar.h
run/pdf2john
run/pfx2john
run/keychain2john
run/pwsafe2john
run/racf2john
run/rar2john
run/raw2dyna
run/SIPdump
run/ssh2john
run/tgtsnarf
run/truecrypt_volume2john
run/unafs
run/undrop
run/unique
run/unshadow
run/vncpcap2john
run/zip2john
src/arch.h
src/fmt_externs.h
src/fmt_registers.h
src/generic.h
src/john_build_rule.h
src/para-bench
test/
