magnum <john.magnum@hushmail.com> <magnum>
Dhiru Kholia <dhiru.kholia@gmail.com>
Solar <solar@openwall.com> <solar>
Solar <solar@openwall.com>
Samuele <samu@linuxasylum.net>
Tavis Ormandy <taviso@cmpxchg8b.com> <taviso@redhat.(none)>
Claudio André <claudio.andre@correios.net.br> <claudioandre.br@gmail.com>
Myrice <qqlddg@gmail.com> <myrice@myrice-laptop.(none)>
JimF <jfoug@cox.net>
Sayantan Datta <std2048@gmail.com>
Lukas Odzioba <lukas.odzioba@gmail.com>
