[Desktop Entry]
Version=1.5
Type=Application
Terminal=true
Name=John the Ripper Community Edition
GenericName=John the Ripper Jumbo
Comment=John the Ripper "Jumbo" password cracker
TryExec=john
Exec=john --test=0
Icon=com.openwall.John
Categories=Security
