##########################################################################
#
# This software is Copyright (c) 2018 Denis Burykin
# [denis_burykin yahoo com], [denis-burykin2014 yandex ru]
# and it is hereby released to the general public under the following terms:
# Redistribution and use in source and binary forms, with or without
# modification, are permitted.
#
##########################################################################
#
AREA_GROUP "pkt_comm" RANGE=SLICE_X52Y2:SLICE_X81Y17,SLICE_X62Y18:SLICE_X85Y33;
AREA_GROUP "pkt_comm" RANGE=RAMB8_X3Y8:RAMB8_X3Y15;
AREA_GROUP "pkt_comm" RANGE=RAMB16_X3Y8:RAMB16_X3Y14;

INST "input_fifo/fifo_input1*" AREA_GROUP="pkt_comm";
INST "pkt_comm/inpkt_header*" AREA_GROUP="pkt_comm";
INST "pkt_comm/inpkt_init*" AREA_GROUP="pkt_comm";
INST "pkt_comm/inpkt_config*" AREA_GROUP="pkt_comm";
INST "pkt_comm/word_list*" AREA_GROUP="pkt_comm";
INST "pkt_comm/word_gen*" AREA_GROUP="pkt_comm";
INST "pkt_comm/cmp_config*" AREA_GROUP="pkt_comm";
INST "pkt_comm/arbiter_tx*" AREA_GROUP="pkt_comm";

INST "pkt_comm/arbiter_rx*" AREA_GROUP="pkt_comm";
INST "pkt_comm/comparator*" AREA_GROUP="pkt_comm";
INST "pkt_comm/outpkt*" AREA_GROUP="pkt_comm";

INST "input_fifo*" AREA_GROUP="pkt_comm";
INST "output_fifo*" AREA_GROUP="pkt_comm";
INST "hs_io_inst*" AREA_GROUP="pkt_comm";
INST "vcr_inst*" AREA_GROUP="pkt_comm";


AREA_GROUP "area_output" RANGE=SLICE_X28Y2:SLICE_X33Y14;
AREA_GROUP "area_output" RANGE=RAMB16_X1Y0:RAMB16_X1Y6;
INST "output_fifo/fifo_output0*" AREA_GROUP="area_output";

AREA_GROUP "area_input0" RANGE=SLICE_X98Y0:SLICE_X99Y15,SLICE_X82Y16:SLICE_X85Y19;
AREA_GROUP "area_input0" RANGE=RAMB16_X4Y0:RAMB16_X4Y6;
INST "input_fifo/fifo_input0*" AREA_GROUP="area_input0";


// ========================================================
// Nodes - left branch
AREA_GROUP "node1" RANGE=SLICE_X43Y16:SLICE_X49Y17;
INST "pkt_comm/bcast_net/node[1].r*" AREA_GROUP="node1";
INST "pkt_comm/units[1].unit_*_regs/stage[1].r*" AREA_GROUP="node1";
INST "pkt_comm/units[4].unit_*_regs/stage[1].r*" AREA_GROUP="node1";
INST "pkt_comm/units[5].unit_*_regs/stage[1].r*" AREA_GROUP="node1";

AREA_GROUP "node2" RANGE=SLICE_X18Y53:SLICE_X43Y58;
INST "pkt_comm/bcast_net/node[2].r*" AREA_GROUP="node2";
INST "pkt_comm/units[1].unit_*_regs/stage[2].r*" AREA_GROUP="node2";
INST "pkt_comm/units[4].unit_*_regs/stage[2].r*" AREA_GROUP="node2";
INST "pkt_comm/units[5].unit_*_regs/stage[2].r*" AREA_GROUP="node2";

AREA_GROUP "node3" RANGE=SLICE_X18Y93:SLICE_X43Y98;
INST "pkt_comm/bcast_net/node[3].r*" AREA_GROUP="node3";
INST "pkt_comm/units[1].unit_*_regs/stage[3].r*" AREA_GROUP="node3";
INST "pkt_comm/units[4].unit_*_regs/stage[3].r*" AREA_GROUP="node3";

AREA_GROUP "node4" RANGE=SLICE_X18Y133:SLICE_X43Y137;
INST "pkt_comm/bcast_net/node[4].r*" AREA_GROUP="node4";
INST "pkt_comm/units[1].unit_*_regs/stage[4].r*" AREA_GROUP="node4";

// Nodes - right branch
AREA_GROUP "node8" RANGE=SLICE_X72Y75:SLICE_X87Y79;
INST "pkt_comm/bcast_net/node[8].r*" AREA_GROUP="node8";
INST "pkt_comm/units[2].unit_*_regs/stage[2].r*" AREA_GROUP="node8";
INST "pkt_comm/units[3].unit_*_regs/stage[2].r*" AREA_GROUP="node8";
INST "pkt_comm/units[6].unit_*_regs/stage[2].r*" AREA_GROUP="node8";
INST "pkt_comm/units[8].unit_*_regs/stage[2].r*" AREA_GROUP="node8";

AREA_GROUP "node9" RANGE=SLICE_X72Y113:SLICE_X91Y121;
INST "pkt_comm/bcast_net/node[9].r*" AREA_GROUP="node9";
INST "pkt_comm/units[2].unit_*_regs/stage[3].r*" AREA_GROUP="node9";
INST "pkt_comm/units[3].unit_*_regs/stage[3].r*" AREA_GROUP="node9";

AREA_GROUP "node10" RANGE=SLICE_X85Y134:SLICE_X91Y138;
INST "pkt_comm/bcast_net/node[10].r*" AREA_GROUP="node10";
INST "pkt_comm/units[2].unit_*_regs/stage[4].r*" AREA_GROUP="node10";
INST "pkt_comm/units[3].unit_*_regs/stage[4].r*" AREA_GROUP="node10";


// ========================================================
// Unit 0 - bottom left
// col.0
AREA_GROUP "u0_c0" RANGE=SLICE_X0Y2:SLICE_X21Y17,SLICE_X22Y2:SLICE_X27Y15,SLICE_X12Y0:SLICE_X21Y1;
AREA_GROUP "u0_c0" RANGE=RAMB8_X0Y0:RAMB8_X0Y9;
INST "pkt_comm/units[0].unit/cores[0].core" AREA_GROUP="u0_c0";

AREA_GROUP "u0_c1" RANGE=SLICE_X0Y18:SLICE_X21Y36; # 22x19
AREA_GROUP "u0_c1" RANGE=RAMB8_X0Y10:RAMB8_X0Y17;
INST "pkt_comm/units[0].unit/cores[1].core" AREA_GROUP="u0_c1";

AREA_GROUP "u0_c2" RANGE=SLICE_X0Y37:SLICE_X21Y55; # 22x19
AREA_GROUP "u0_c2" RANGE=RAMB8_X0Y18:RAMB8_X0Y27;
INST "pkt_comm/units[0].unit/cores[2].core" AREA_GROUP="u0_c2";
// col.1
AREA_GROUP "u0_engine" RANGE=SLICE_X22Y16:SLICE_X42Y35; # 21x20
AREA_GROUP "u0_engine" RANGE=RAMB8_X1Y8:RAMB8_X1Y17;
AREA_GROUP "u0_engine" RANGE=RAMB16_X1Y8:RAMB16_X1Y16;
INST "pkt_comm/units[0].unit/engine" AREA_GROUP="u0_engine";

AREA_GROUP "u0_c3" RANGE=SLICE_X22Y36:SLICE_X42Y55; # 21x20
AREA_GROUP "u0_c3" RANGE=RAMB8_X1Y18:RAMB8_X1Y25;
INST "pkt_comm/units[0].unit/cores[3].core" AREA_GROUP="u0_c3";


//======================================================
// Unit 1: top-left
// col.0
AREA_GROUP "u1_c0" RANGE=SLICE_X0Y174:SLICE_X21Y189,SLICE_X22Y176:SLICE_X27Y189,SLICE_X12Y190:SLICE_X21Y191;
AREA_GROUP "u1_c0" RANGE=RAMB8_X0Y88:RAMB8_X0Y95;
INST "pkt_comm/units[1].unit/cores[0].core" AREA_GROUP="u1_c0";

AREA_GROUP "u1_c1" RANGE=SLICE_X0Y155:SLICE_X21Y173; # 22x19
AREA_GROUP "u1_c1" RANGE=RAMB8_X0Y78:RAMB8_X0Y85;
INST "pkt_comm/units[1].unit/cores[1].core" AREA_GROUP="u1_c1";

AREA_GROUP "u1_c2" RANGE=SLICE_X0Y136:SLICE_X21Y154; # 22x19
AREA_GROUP "u1_c2" RANGE=RAMB8_X0Y68:RAMB8_X0Y77;
INST "pkt_comm/units[1].unit/cores[2].core" AREA_GROUP="u1_c2";
// col.1
AREA_GROUP "u1_engine" RANGE=SLICE_X22Y156:SLICE_X42Y159,SLICE_X22Y160:SLICE_X39Y175,SLICE_X28Y176:SLICE_X33Y179;
AREA_GROUP "u1_engine" RANGE=RAMB8_X1Y78:RAMB8_X1Y87;
AREA_GROUP "u1_engine" RANGE=RAMB16_X1Y78:RAMB16_X1Y86;
INST "pkt_comm/units[1].unit/engine" AREA_GROUP="u1_engine";

AREA_GROUP "u1_c3" RANGE=SLICE_X22Y136:SLICE_X42Y155; # 21x20
AREA_GROUP "u1_c3" RANGE=RAMB8_X1Y68:RAMB8_X1Y77;
INST "pkt_comm/units[1].unit/cores[3].core" AREA_GROUP="u1_c3";


// ========================================================
// Unit 2
// col.2
AREA_GROUP "u2_c0" RANGE=SLICE_X43Y144:SLICE_X63Y169;
AREA_GROUP "u2_c0" RANGE=RAMB8_X2Y72:RAMB8_X2Y79;
INST "pkt_comm/units[2].unit/cores[0].core" AREA_GROUP="u2_c0";

AREA_GROUP "u2_c1" RANGE=SLICE_X43Y124:SLICE_X63Y143; # 21x20
AREA_GROUP "u2_c1" RANGE=RAMB8_X2Y62:RAMB8_X2Y71;
INST "pkt_comm/units[2].unit/cores[1].core" AREA_GROUP="u2_c1";
// col.3
AREA_GROUP "u2_c2" RANGE=SLICE_X64Y160:SLICE_X84Y170,SLICE_X56Y171:SLICE_X84Y175,SLICE_X56Y176:SLICE_X81Y183;
AREA_GROUP "u2_c2" RANGE=RAMB8_X3Y80:RAMB8_X3Y87;
INST "pkt_comm/units[2].unit/cores[2].core" AREA_GROUP="u2_c2";

AREA_GROUP "u2_engine" RANGE=SLICE_X64Y140:SLICE_X84Y159; # 21x20
AREA_GROUP "u2_engine" RANGE=RAMB8_X3Y70:RAMB8_X3Y79;
AREA_GROUP "u2_engine" RANGE=RAMB16_X3Y70:RAMB16_X3Y78;
INST "pkt_comm/units[2].unit/engine" AREA_GROUP="u2_engine";

AREA_GROUP "u2_c3" RANGE=SLICE_X64Y120:SLICE_X84Y139; # 21x20
AREA_GROUP "u2_c3" RANGE=RAMB8_X3Y60:RAMB8_X3Y69;
INST "pkt_comm/units[2].unit/cores[3].core" AREA_GROUP="u2_c3";


// ========================================================
// Unit 3
// col.4
AREA_GROUP "u3_engine" RANGE=SLICE_X85Y156:SLICE_X105Y175; # 21x20
AREA_GROUP "u3_engine" RANGE=RAMB8_X4Y78:RAMB8_X4Y87;
AREA_GROUP "u3_engine" RANGE=RAMB16_X4Y78:RAMB16_X4Y86;
INST "pkt_comm/units[3].unit/engine" AREA_GROUP="u3_engine";

AREA_GROUP "u3_c0" RANGE=SLICE_X85Y136:SLICE_X105Y155; # 21x20
AREA_GROUP "u3_c0" RANGE=RAMB8_X4Y68:RAMB8_X4Y77;
INST "pkt_comm/units[3].unit/cores[0].core" AREA_GROUP="u3_c0";

// col.5
AREA_GROUP "u3_c1" RANGE=SLICE_X100Y176:SLICE_X127Y189,SLICE_X106Y174:SLICE_X127Y175,SLICE_X108Y190:SLICE_X115Y191;
AREA_GROUP "u3_c1" RANGE=RAMB8_X5Y88:RAMB8_X5Y95;
INST "pkt_comm/units[3].unit/cores[1].core" AREA_GROUP="u3_c1";

AREA_GROUP "u3_c2" RANGE=SLICE_X106Y155:SLICE_X127Y173; # 22x19
AREA_GROUP "u3_c2" RANGE=RAMB8_X5Y78:RAMB8_X5Y87;
INST "pkt_comm/units[3].unit/cores[2].core" AREA_GROUP="u3_c2";

AREA_GROUP "u3_c3" RANGE=SLICE_X106Y136:SLICE_X127Y154; # 22x19
AREA_GROUP "u3_c3" RANGE=RAMB8_X5Y68:RAMB8_X5Y77;
INST "pkt_comm/units[3].unit/cores[3].core" AREA_GROUP="u3_c3";


// ========================================================
// Unit 4
// col.0
AREA_GROUP "u4_c0" RANGE=SLICE_X0Y116:SLICE_X20Y135; # 21x20
AREA_GROUP "u4_c0" RANGE=RAMB8_X0Y58:RAMB8_X0Y67;
INST "pkt_comm/units[4].unit/cores[0].core" AREA_GROUP="u4_c0";

AREA_GROUP "u4_c1" RANGE=SLICE_X0Y96:SLICE_X20Y115; # 21x20
AREA_GROUP "u4_c1" RANGE=RAMB8_X0Y48:RAMB8_X0Y57;
INST "pkt_comm/units[4].unit/cores[1].core" AREA_GROUP="u4_c1";
// col.1
AREA_GROUP "u4_c2" RANGE=SLICE_X21Y116:SLICE_X41Y135; # 21x20
AREA_GROUP "u4_c2" RANGE=RAMB8_X1Y58:RAMB8_X1Y67;
INST "pkt_comm/units[4].unit/cores[2].core" AREA_GROUP="u4_c2";

AREA_GROUP "u4_engine" RANGE=SLICE_X21Y96:SLICE_X41Y115;
AREA_GROUP "u4_engine" RANGE=RAMB8_X1Y48:RAMB8_X1Y57;
AREA_GROUP "u4_engine" RANGE=RAMB16_X1Y48:RAMB16_X1Y56;
INST "pkt_comm/units[4].unit/engine" AREA_GROUP="u4_engine";
// col.2
AREA_GROUP "u4_c3" RANGE=SLICE_X42Y105:SLICE_X63Y123; # 22x19
AREA_GROUP "u4_c3" RANGE=RAMB8_X2Y52:RAMB8_X2Y61;
INST "pkt_comm/units[4].unit/cores[3].core" AREA_GROUP="u4_c3";


// ========================================================
// Unit 5
// col.0
AREA_GROUP "u5_c0" RANGE=SLICE_X0Y76:SLICE_X20Y95; # 21x20
AREA_GROUP "u5_c0" RANGE=RAMB8_X0Y38:RAMB8_X0Y47;
INST "pkt_comm/units[5].unit/cores[0].core" AREA_GROUP="u5_c0";

AREA_GROUP "u5_c1" RANGE=SLICE_X0Y56:SLICE_X20Y75; # 21x20
AREA_GROUP "u5_c1" RANGE=RAMB8_X0Y28:RAMB8_X0Y37;
INST "pkt_comm/units[5].unit/cores[1].core" AREA_GROUP="u5_c1";
// col.1
AREA_GROUP "u5_engine" RANGE=SLICE_X21Y76:SLICE_X41Y95;
AREA_GROUP "u5_engine" RANGE=RAMB8_X1Y38:RAMB8_X1Y47;
AREA_GROUP "u5_engine" RANGE=RAMB16_X1Y38:RAMB16_X1Y46;
INST "pkt_comm/units[5].unit/engine" AREA_GROUP="u5_engine";

AREA_GROUP "u5_c2" RANGE=SLICE_X21Y56:SLICE_X41Y75; # 21x20
AREA_GROUP "u5_c2" RANGE=RAMB8_X1Y28:RAMB8_X1Y37;
INST "pkt_comm/units[5].unit/cores[2].core" AREA_GROUP="u5_c2";
// col.2
AREA_GROUP "u5_c3" RANGE=SLICE_X42Y85:SLICE_X63Y104; # 22x19(+1)
AREA_GROUP "u5_c3" RANGE=RAMB8_X2Y42:RAMB8_X2Y51;
INST "pkt_comm/units[5].unit/cores[3].core" AREA_GROUP="u5_c3";


// ===========================================================
// Unit 6
// col.5
AREA_GROUP "u6_c0" RANGE=SLICE_X107Y76:SLICE_X127Y95; # 21x20
AREA_GROUP "u6_c0" RANGE=RAMB8_X5Y38:RAMB8_X5Y47;
INST "pkt_comm/units[6].unit/cores[0].core" AREA_GROUP="u6_c0";

AREA_GROUP "u6_c1" RANGE=SLICE_X107Y56:SLICE_X127Y75; # 21x20
AREA_GROUP "u6_c1" RANGE=RAMB8_X5Y28:RAMB8_X5Y37;
INST "pkt_comm/units[6].unit/cores[1].core" AREA_GROUP="u6_c1";
// col.4
AREA_GROUP "u6_engine" RANGE=SLICE_X85Y76:SLICE_X106Y95; # 22x20
AREA_GROUP "u6_engine" RANGE=RAMB8_X4Y38:RAMB8_X4Y47;
AREA_GROUP "u6_engine" RANGE=RAMB16_X4Y38:RAMB16_X4Y46;
INST "pkt_comm/units[6].unit/engine" AREA_GROUP="u6_engine";

AREA_GROUP "u6_c2" RANGE=SLICE_X85Y56:SLICE_X106Y75; # 22x20
AREA_GROUP "u6_c2" RANGE=RAMB8_X4Y28:RAMB8_X4Y37;
INST "pkt_comm/units[6].unit/cores[2].core" AREA_GROUP="u6_c2";
// col.3
AREA_GROUP "u6_c3" RANGE=SLICE_X64Y78:SLICE_X85Y98; # 21x21
AREA_GROUP "u6_c3" RANGE=RAMB8_X3Y40:RAMB8_X3Y49;
INST "pkt_comm/units[6].unit/cores[3].core" AREA_GROUP="u6_c3";


// ========================================================
// Unit 7
// col.5
AREA_GROUP "u7_c0" RANGE=SLICE_X100Y2:SLICE_X127Y15,SLICE_X106Y16:SLICE_X127Y17,SLICE_X108Y0:SLICE_X115Y1;
AREA_GROUP "u7_c0" RANGE=RAMB8_X5Y0:RAMB8_X5Y7;
INST "pkt_comm/units[7].unit/cores[0].core" AREA_GROUP="u7_c0";

AREA_GROUP "u7_c1" RANGE=SLICE_X106Y18:SLICE_X127Y36; # 22x19
AREA_GROUP "u7_c1" RANGE=RAMB8_X5Y10:RAMB8_X5Y17;
INST "pkt_comm/units[7].unit/cores[1].core" AREA_GROUP="u7_c1";

AREA_GROUP "u7_c2" RANGE=SLICE_X106Y37:SLICE_X127Y55; # 22x19
AREA_GROUP "u7_c2" RANGE=RAMB8_X5Y18:RAMB8_X5Y27;
INST "pkt_comm/units[7].unit/cores[2].core" AREA_GROUP="u7_c2";

// col.4
AREA_GROUP "u7_engine" RANGE=SLICE_X86Y16:SLICE_X105Y35;
AREA_GROUP "u7_engine" RANGE=RAMB8_X4Y8:RAMB8_X4Y17;
AREA_GROUP "u7_engine" RANGE=RAMB16_X4Y8:RAMB16_X4Y16;
INST "pkt_comm/units[7].unit/engine" AREA_GROUP="u7_engine";

AREA_GROUP "u7_c3" RANGE=SLICE_X85Y36:SLICE_X105Y55; # 21x20
AREA_GROUP "u7_c3" RANGE=RAMB8_X4Y18:RAMB8_X4Y25;
INST "pkt_comm/units[7].unit/cores[3].core" AREA_GROUP="u7_c3";


// ===========================================================
// Unit 8
// col.5
AREA_GROUP "u8_c0" RANGE=SLICE_X107Y116:SLICE_X127Y135; # 21x20
AREA_GROUP "u8_c0" RANGE=RAMB8_X5Y58:RAMB8_X5Y67;
INST "pkt_comm/units[8].unit/cores[0].core" AREA_GROUP="u8_c0";

AREA_GROUP "u8_c1" RANGE=SLICE_X107Y96:SLICE_X127Y115; # 21x20
AREA_GROUP "u8_c1" RANGE=RAMB8_X5Y48:RAMB8_X5Y57;
INST "pkt_comm/units[8].unit/cores[1].core" AREA_GROUP="u8_c1";

// col.4
AREA_GROUP "u8_c2" RANGE=SLICE_X85Y116:SLICE_X106Y135; # 22x20
AREA_GROUP "u8_c2" RANGE=RAMB8_X4Y58:RAMB8_X4Y67;
INST "pkt_comm/units[8].unit/cores[2].core" AREA_GROUP="u8_c2";

AREA_GROUP "u8_engine" RANGE=SLICE_X86Y96:SLICE_X106Y115; # 22x20
AREA_GROUP "u8_engine" RANGE=RAMB8_X4Y48:RAMB8_X4Y57;
AREA_GROUP "u8_engine" RANGE=RAMB16_X4Y48:RAMB16_X4Y56;
INST "pkt_comm/units[8].unit/engine" AREA_GROUP="u8_engine";
// col.3
AREA_GROUP "u8_c3" RANGE=SLICE_X64Y99:SLICE_X84Y119; # 21x21
AREA_GROUP "u8_c3" RANGE=RAMB8_X3Y50:RAMB8_X3Y59;
INST "pkt_comm/units[8].unit/cores[3].core" AREA_GROUP="u8_c3";


// ========================================================
// Unit 9
// col.2
AREA_GROUP "u9_c0" RANGE=SLICE_X43Y62:SLICE_X63Y81; # 21x20
AREA_GROUP "u9_c0" RANGE=RAMB8_X2Y32:RAMB8_X2Y41;
INST "pkt_comm/units[9].unit/cores[0].core" AREA_GROUP="u9_c0";

AREA_GROUP "u9_engine" RANGE=SLICE_X43Y41:SLICE_X63Y61; # 21x21
AREA_GROUP "u9_engine" RANGE=RAMB8_X2Y20:RAMB8_X2Y31;
AREA_GROUP "u9_engine" RANGE=RAMB16_X2Y20:RAMB16_X2Y30;
INST "pkt_comm/units[9].unit/engine" AREA_GROUP="u9_engine";

#AREA_GROUP "u9_c1" RANGE=SLICE_X43Y20:SLICE_X63Y40; # 21x21
AREA_GROUP "u9_c1" RANGE=SLICE_X44Y18:SLICE_X61Y40;
AREA_GROUP "u9_c1" RANGE=RAMB8_X2Y12:RAMB8_X2Y19;
INST "pkt_comm/units[9].unit/cores[1].core" AREA_GROUP="u9_c1";
// col.3
AREA_GROUP "u9_c2" RANGE=SLICE_X64Y56:SLICE_X84Y76; # 21x21
AREA_GROUP "u9_c2" RANGE=RAMB8_X3Y30:RAMB8_X3Y39;
INST "pkt_comm/units[9].unit/cores[2].core" AREA_GROUP="u9_c2";

AREA_GROUP "u9_c3" RANGE=SLICE_X64Y35:SLICE_X84Y55; # 21x21
AREA_GROUP "u9_c3" RANGE=RAMB8_X3Y20:RAMB8_X3Y29;
INST "pkt_comm/units[9].unit/cores[3].core" AREA_GROUP="u9_c3";


// ===========================================================
// procb
NET "pkt_comm/units[*].unit/engine/process_bytes/saved_addr_t*" TIG;
NET "pkt_comm/units[*].unit/engine/process_bytes/saved_total_t*" TIG;
NET "pkt_comm/units[*].unit/engine/process_bytes/saved_padded0x80_t" TIG;
NET "pkt_comm/units[*].unit/engine/process_bytes/saved_comp_active_t" TIG;
NET "pkt_comm/units[*].unit/engine/process_bytes/saved_procb_active_t" TIG;
NET "pkt_comm/units[*].unit/engine/process_bytes/saved_finish_ctx_t" TIG;
NET "pkt_comm/units[*].unit/engine/process_bytes/saved_stop_ctx_t" TIG;
// cpu
NET "pkt_comm/units[*].unit/engine/cpu/uob_thread_num*" TIG;

NET "pkt_comm/mode_cmp" TIG;
